body {
    background-color: #d4d4d4;
    height: 100%;
    width: 100%;
}

.LoginWindow {
    background-color: #4682B4;

    max-height: fit-content;
    max-width: 178px;

    padding: 15px;

    position: absolute;
    top: 50%;
    left: 53%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    scale: 1.5;

}

.LoginText {
    color: rgb(0, 0, 0);
    font-family: arial;
    margin-left: 11px;
}

.MessageText {
    color: rgb(0, 0, 0);
    font-family: arial;
}

.LoginInput {
    flex: 1;
    border: 1px;
    margin-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.LoginButtons {
    background-color: #d4d4d4; 
    color: rgb(0, 0, 0);
    border: 2px;
    margin-left: 13px;
}

.LoginButtons:hover {
    background-color: #686868;
}
