body {
    background-color: #d4d4d4;
    height: 100%;
    width: 100%;
}

.RegisterWindow {
    background-color: #4682B4;

    max-height: fit-content;
    max-width: 178px;

    padding: 15px;

    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);

    scale: 1.5;

}

.RegisterText {
    color: rgb(0, 0, 0);
    font-family: arial;
}

.MessageText {
    color: rgb(0, 0, 0);
    font-family: arial;
}

.RegisterInput {
    flex: 1;
    border: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.RegisterButtons {
    background-color: #d4d4d4; 
    color: rgb(0, 0, 0);
    border: 2px;
}

.RegisterButtons:hover {
    background-color: #686868;
}