body {
    background-color: #808080;
    height: 100%;
    width: 100%     ;
}

.div-loginForm {
    background-color: #4682B4;

    display: flex;
    flex-wrap: wrap;

    max-height: fit-content;
    width: fit-content;
    max-width: 300px;
    
    scale: 1.3;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 15px;
    justify-content: space-around;

    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.295);

    border-radius: 3px;
}

.WrapCenteredInlineBlock {
    display: inline-block;
}

.div-twoButtonsContainer {
    display: flex;
    flex: auto;
    margin: 0 auto;
    justify-content: space-around;
    vertical-align: bottom;
}

table, th, td, tr {
    background-color: #4682B4;
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    gap: 12px;
}

.table-displayMainPage {
    scale: 1.0;
    position: fixed;
    top: 10%;
    left: 0.5%;
}

.inpProductName-displayMainPage {
    scale: 1.0;
    position: fixed;
    top: 5%;
    left: 0.4%;
    width: 5.0%;
}

.inpPrice-displayMainPage {
    scale: 1.0;
    position: fixed;
    top: 5%;
    left: 6.4%;
    width: 5.0%;
}

.inpDescription-displayMainPage {
    scale: 1.0;
    position: fixed;
    top: 5%;
    left: 12.4%;
    width: 5.0%;
}

.btnAdd-displayMainPage {
    position: fixed;
    top: 5%;
    left: 18.4%;
}