.ChatWindow {
    background-color: #4682B4;

    width: 500px;
    height: 700px;

    padding: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    border: 1px solid #4682B4;
    border-radius: 4px;
}

.ChatSendInput {
    height: 30px;
    width: 409px;
}

.ChatSendButton {
    height: 36px;
}

.ChatSend {
    position: absolute;
    top: 93%;
}

.ChatUserName {
    color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 20px;
}